[package]
name = "vss"
version = "0.1.0"
edition = "2024"

[dependencies]
ark-bls12-381 = "0.5.0"
ark-ec = "0.5.0"
ark-ff = "0.5.0"
ark-poly = "0.5.0"
ark-std = "0.5.0"
k256 = {version = "0.13.4", features=["ecdsa"]}
rand_core = "0.6.4"
